 <div class="container mt-5" style="font-family: 'Indie Flower', cursive;">
        <h2 class="mb-4">Sobre o Middle</h2>
        <p>
            O <strong>Middle</strong> nasceu da paixão pela música e entretenimento ao vivo. Fundado em 2010 por um grupo de amigos apaixonados por shows e festivais, o Middle começou como uma plataforma simples para conectar fãs a eventos musicais em sua cidade. O nome "Middle" foi escolhido como uma homenagem ao momento mágico que ocorre no meio de um show, quando a música, a energia da multidão e a emoção se unem.
        </p>
        <p>
            Nosso propósito é tornar a experiência de comprar ingressos para shows mais fácil, segura e acessível para todos. Queremos eliminar as filas intermináveis, os sites confusos e as taxas ocultas. Acreditamos que todos devem ter a oportunidade de vivenciar a magia de um concerto ao vivo, independentemente de seu gosto musical ou orçamento.
        </p>
        <h2 class="mb-4">Como Funciona</h2>
          <ol>
          <li>Compra e Comparação de Ingressos:
            <ul>
              <li>No Middle, você pode pesquisar e comparar ingressos para shows de diferentes artistas, gêneros e locais.</li>
              <li>Nossa interface intuitiva permite que você veja preços, disponibilidade e opções de assentos em um só lugar.</li>
            </ul>
          </li>
          <li>Segurança e Transparência:
            <ul>
              <li>Trabalhamos com parceiros confiáveis e garantimos que todos os ingressos sejam autênticos e válidos.</li>
              <li>Não cobramos taxas escondidas. O preço que você vê é o preço que paga.</li>
              <li>Oferecemos suporte ao cliente 24 horas por dia, 7 dias por semana, para ajudá-lo com qualquer dúvida ou problema.</li>
            </ul>
          </li>
          <li>Comunidade de Fãs:
            <ul>
              <li>O Middle é mais do que apenas um site de vendas de ingressos. É uma comunidade de fãs apaixonados.</li>
              <li>Compartilhe suas experiências, descubra novos artistas e conecte-se com outros amantes da música.
</li>
            </ul>
          </li>
          </ol>
    </div>
