<div class="cards">
  <% image_urls = [
    "https://picsum.photos/200/300",
    "https://picsum.photos/200/301",
    "https://picsum.photos/200/302",
    "https://picsum.photos/200/303",
    "https://picsum.photos/200/304",
    "https://picsum.photos/200/305",
    "https://picsum.photos/200/306",
    "https://picsum.photos/200/307",
    "https://picsum.photos/200/308",
    "https://picsum.photos/200/309",
    "https://picsum.photos/200/310",
    "https://picsum.photos/200/311",
    "https://picsum.photos/200/312",
    "https://picsum.photos/200/313",
    "https://picsum.photos/200/314",
    "https://picsum.photos/200/315",
    "https://picsum.photos/200/316",
    "https://picsum.photos/200/317",
    "https://picsum.photos/200/318",
    "https://picsum.photos/200/319",
    "https://picsum.photos/200/320",
    "https://picsum.photos/200/321",
    "https://picsum.photos/200/322",
    "https://picsum.photos/200/323",
    "https://picsum.photos/200/324",
    "https://picsum.photos/200/325",
    "https://picsum.photos/200/326",
    "https://picsum.photos/200/327",
    "https://picsum.photos/200/328",
    "https://picsum.photos/200/329",
    "https://picsum.photos/200/330",
    "https://picsum.photos/200/331",
    "https://picsum.photos/200/332",
    "https://picsum.photos/200/333",
    "https://picsum.photos/200/334",
    "https://picsum.photos/200/335",
    "https://picsum.photos/200/336",
    "https://picsum.photos/200/337",
    "https://picsum.photos/200/338",
    "https://picsum.photos/200/339",
    "https://picsum.photos/200/340",
    "https://picsum.photos/200/341",
    "https://picsum.photos/200/342",
    "https://picsum.photos/200/343",
    "https://picsum.photos/200/344",
    "https://picsum.photos/200/345",
    "https://picsum.photos/200/346",
    "https://picsum.photos/200/347",

  ] %>

  <div class="card-row col-12">
    <% image_urls.each_slice(6) do |slice| %>
      <div class="row">
        <% slice.each_with_index do |image_url, index| %>
          <div class="col-2">
            <div class="card-category m-3" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(<%= image_url %>)">
                <%= image_tag(image_url, class: "card-image", alt: "card-image", style: "object-fit: cover; width: 100%; height: 100%;") %>
              <div class="card-info">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-name"><%= Event.all.sample.artist %></h5>
                    <p class="card-price">$<%= sprintf('%.2f', Ticket.all.sample.price) %></p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>

<script>
  var searchInput = document.getElementById('searchInput');
  var cards = document.querySelectorAll('.card');
  var images = document.querySelectorAll('.card-image');

  searchInput.addEventListener('input', filterCards);


  function filterCards() {
    var searchValue = searchInput.value.toLowerCase();

    cards.forEach((card, index) => {
      var cardContent = card.textContent.toLowerCase();
      if (cardContent.includes(searchValue)) {
        card.style.display = 'block';
        images[index].style.display = 'block';
        card.classList.add('visible-card'); // Add CSS class to visible cards
      } else {
        card.style.display = 'none';
        images[index].style.display = 'none';
        card.classList.remove('visible-card'); // Remove CSS class from non-visible cards
      }
    });

    }

</script>
