<div class="row">
  <% Ticket.all.each_slice(6) do |tickets| %>
    <% tickets.each do |ticket| %>
      <div class="col-md-2">
        <div class="card m-2">
          <%= image_tag ticket.event.photo, class: "card-image", alt: "Card image" %>
          <div class="card-body">
            <h5 class="card-name"><%= ticket.event.artist %></h5>
            <p class="card-price">R$ <%= sprintf("%.2f", ticket.price) %></p>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<script>
  var searchInput = document.getElementById('searchInput');
  var cards = document.querySelectorAll('.card');
  var images = document.querySelectorAll('.card-image');

  searchInput.addEventListener('input', filterCards);


  function filterCards() {
    var searchValue = searchInput.value.toLowerCase();

    cards.forEach((card, index) => {
      var cardContent = card.textContent.toLowerCase();
      if (cardContent.includes(searchValue)) {
        card.style.display = 'block';
        images[index].style.display = 'block';
        card.classList.add('visible-card'); // Add CSS class to visible cards
      } else {
        card.style.display = 'none';
        images[index].style.display = 'none';
        card.classList.remove('visible-card'); // Remove CSS class from non-visible cards
      }
    });

    }

</script>
