<div class="container" style="font-family: 'Indie Flower', cursive;">
  <h1 class="text-center mt-5">Notícias da semana</h1>
  <div class="row col-12">
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title"><a href="#">Novo Álbum de John Smith</a></h2>
          <p class="card-text">John Smith lançou seu mais recente álbum, intitulado "Harmonia Celestial". O álbum combina elementos de jazz e música clássica.</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title"><a href="#">Turnê Mundial de Maria Garcia</a></h2>
          <p class="card-text">Maria Garcia, a talentosa violinista, está atualmente em uma turnê mundial. Ela se apresentará em várias cidades nos próximos meses.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title"><a href="#">Entrevista com Carlos Rodríguez</a></h2>
          <p class="card-text">O famoso guitarrista Carlos Rodríguez concedeu uma entrevista exclusiva sobre sua carreira e influências musicais.</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title"><a href="#">Prêmio para a Banda Rockstar</a></h2>
          <p class="card-text">A banda Rockstar ganhou o prêmio de "Melhor Performance ao Vivo" no Music Awards deste ano.</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title"><a href="#">Descoberta de Novo Talento</a></h2>
          <p class="card-text">Uma jovem cantora chamada Emily White está ganhando destaque nas redes sociais com sua voz poderosa.</p>
        </div>
      </div>
      <div class="card mb-4">
        <div class="card-body">
          <h2 class="card-title"><a href="#">Colaboração Inesperada</a></h2>
          <p class="card-text">Os rappers Jay-Z e Kendrick Lamar anunciaram uma colaboração surpresa em uma nova faixa.</p>
        </div>
      </div>
      
    </div>
    <!-- Adicione mais notícias aqui -->
  </div>
</div>
